<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inventory Control Management</title>
    <link rel="stylesheet" type="text/css" href="css/styles.css">
</head>

<body>

    <!---------------------------- header  ------------------------------->
    
    <div class="header">
      Your Inventory
    </div>

    <!----------------------------- navigation  --------------------------->

    <div class="sidenav">
        <ul>
          <li><a href="/"><p>Products</p></a></li>
          <li><a href="/category"><p>Categories</p></a></li>
          <li><a href="/invoice"><p>Invoice</p></a></li>
          <li><a href="/order"><p>Order details</p></a> </li>
          <li><a href="/supplier"><p>Supplier</p></a>  </li>
          <li><a href="/user"><p>Users</p></a> </li>
          <li><a href="/rp"><p>Returned Products</p></a> </li>
        </ul>
    </div>
    
    <!------------------------------ table  ----------------------------------->
    
    <div class="container">
      <div class="tabs">            
        <h1>Returned Products Details</h1>
          <div id ="hello">
            <table class="table table-bordered table-striped">
              <thead>
                <tr>
                  <th>Return ID</th>
                  <th>product Name </th>
                  <th>Quantity</th>
                  <th>User Name</th>
                  <th>Date</th>
                </tr>
              </thead>
              <tbody>
                <% results.forEach((rp) => { %>
                  <tr>
                    <td><%= rp.returnId %></td>
                    <td><%= rp.productName %></td>
                    <td><%= rp.quantity %></td>
                    <td><%= rp.name %></td>
                    <td><%= rp.returnDate %></td>
                  </tr>
                <% })%>
              </tbody>
            </table>
          </div>
        </div>
    </div>

</body>
</html>

